<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.2">

    <!-- Base Module Properties -->
    <id>${project.parent.artifactId}</id>
    <name>${project.parent.name}</name>
    <version>${project.parent.version}</version>
    <package>org.openmrs.module.insuranceclaims</package>
    <author>Palladium KEHMIS</author>
    <description>
        ${project.parent.description}
    </description>

    <activator>org.openmrs.module.insuranceclaims.InsuranceClaimsActivator</activator>

    <!-- <updateURL>https://modules.openmrs.org/modules/download/@MODULE_ID@/update.rdf</updateURL> -->
    <!-- /Base Module Properties -->

    <require_version>${openmrsPlatformVersion}</require_version>

    <require_modules>
        <require_module version="${appframeworkVersion}">
            org.openmrs.module.appframework
        </require_module>

        <require_module version="${fhir2Version}">
            org.openmrs.module.fhir2
        </require_module>

        <require_module version="${cashierModuleVersion}">
            org.openmrs.module.kenyaemr.cashier
        </require_module>

        <require_module version="${metadatamappingVersion}">
            org.openmrs.module.metadatamapping
        </require_module>

        <require_module version="${idgenModuleVersion}">
            org.openmrs.module.idgen
        </require_module>
    </require_modules>

    <aware_of_modules>
        <aware_of_module>org.openmrs.module.fhir2</aware_of_module>
        <aware_of_module>org.openmrs.module.kenyaemr.cashier</aware_of_module>
        <aware_of_module>org.openmrs.module.idgen</aware_of_module>
    </aware_of_modules>

    <!-- Maps hibernate file's, if present -->
	<mappingFiles>
		packages.hbm.xml
	</mappingFiles>

    <!-- AOP -->
    <!-- <advice>
        <point>org.openmrs.api.FormService</point>
        <class>@MODULE_PACKAGE@.advice.DuplicateFormAdvisor</class>
    </advice> -->

    <advice>
		<point>org.openmrs.api.VisitService</point>
		<class>org.openmrs.module.insuranceclaims.advice.CreateClaimOnCheckout</class>
	</advice> 

    <!--<privilege>
        <name>Insurance Claims Privilege</name>
        <description>Allows user to access Insurance Claims module pages/functions</description>
    </privilege>-->

    <!-- Required Global Properties
    <globalProperty>
        <property>@MODULE_ID@.someProperty</property>
        <defaultValue></defaultValue>
        <description>
            A description of the global property goes here.  The description
            should explain enough for administrators to understand the purpose
            and possible values for the global property.
        </description>
    </globalProperty>
    /Required Global Properties -->

    <!--
    <dwr>
        <allow>
            <create creator="new" javascript="DWRFormEntryService">
                <param name="class" value="org.openmrs.module.@MODULE_ID@.web.DWRFormEntryService"/>
                <include method="enterForm"/>
            </create>
        </allow>

        <signatures>
            <![CDATA[
            import @MODULE_PACKAGE@.web.DWRFormEntryService;
            DWRFormEntryService.enterForm(Integer patientId, Integer formId, boolean useEncounter, List<String> fields);
            ]]>
        </signatures>
    </dwr>
    -->

    <!-- Servlets -->
    <!-- Accessed through the url /pageContext()/moduleServlet/<moduleId>/<servlet-name>
    <servlet>
        <servlet-name>formDownload</servlet-name>
        <servlet-class>@MODULE_PACKAGE@.web.FormDownloadServlet</servlet-class>
    </servlet>
    -->
    <!-- /Servlets -->


    <!-- Internationalization -->
    <!-- All message codes should start with @MODULE_ID@.* -->
    <messages>
        <lang>en</lang>
        <file>messages.properties</file>
    </messages>
    <!-- /Internationalization -->

    <globalProperty>
        <property>${project.parent.artifactId}.baseInsuranceClaimUrl</property>
        <defaultValue>http://127.0.0.1:9342/insuranceclaims/claims</defaultValue>
        <description>The URL of third party base server that use to retrieve claims
        </description>
    </globalProperty>

    <globalProperty>
        <property>${project.parent.artifactId}.eligibilityRequestResource</property>
        <defaultValue>EligibilityRequest</defaultValue>
        <description>Third party server resource path for eligibility request </description>
    </globalProperty>

    <globalProperty>
        <property>${project.parent.artifactId}.claimResource</property>
        <defaultValue>Claim</defaultValue>
        <description>Third party server resource path for claim
        </description>
    </globalProperty>

    <globalProperty>
        <property>${project.parent.artifactId}.claimResponseResource</property>
        <defaultValue>ClaimResponse</defaultValue>
        <description>Third party server resource path for claim response
        </description>
    </globalProperty>

    <globalProperty>
        <property>${project.parent.artifactId}.patientRequestResource</property>
        <defaultValue>Patient</defaultValue>
        <description>Third party server resource path for patient
        </description>
    </globalProperty>

    <globalProperty>
        <property>${project.parent.artifactId}.patientRequestId</property>
        <defaultValue>identifier</defaultValue>
        <description>Id uses in importing patient as GET parameter
        </description>
    </globalProperty>

    <globalProperty>
        <property>${project.parent.artifactId}.diagnosisPrimaryCode</property>
        <defaultValue>icd_0</defaultValue>
        <description>Establish primary mapping in Claim.DiagnosiComponent
        </description>
    </globalProperty>

    <globalProperty>
        <property>${project.parent.artifactId}.externalApiLogin</property>
        <defaultValue>admin</defaultValue>
        <description>Login used for external claim service authorization
        </description>
    </globalProperty>

    <globalProperty>
        <property>${project.parent.artifactId}.externalApiPassword</property>
        <defaultValue>Admin123</defaultValue>
        <description>Password used for external claim service authorization
        </description>
    </globalProperty>

    <globalProperty>
        <property>${project.parent.artifactId}.consumeditem.strategy</property>
        <defaultValue>DefaultConsumedItemStrategy</defaultValue>
        <description>Default strategy used for consummed items
        </description>
    </globalProperty>

    <globalProperty>
        <property>${project.parent.artifactId}.coverage.custom.url</property>
        <defaultValue></defaultValue>
        <description>Custom url for checking client insurance coverage status
        </description>
    </globalProperty>

    <globalProperty>
        <property>${project.parent.artifactId}.hiejwt.custom.encodedpass</property>
        <defaultValue></defaultValue>
        <description>Base64 Encoded  ( Username + : + password) for custom coverage jwt token generation
        </description>
    </globalProperty>

    <globalProperty>
        <property>${project.parent.artifactId}.hiejwt.url</property>
        <defaultValue>https://api.dha.go.ke/v1/hie-auth?key=kenya_emr</defaultValue>
        <description>HIE url for generating jwt token
        </description>
    </globalProperty>

    <globalProperty>
        <property>${project.parent.artifactId}.hie.base.url</property>
        <defaultValue>https://api.dha.go.ke/api/v1</defaultValue>
        <description>Base HIE url
        </description>
    </globalProperty>

    <globalProperty>
        <property>${project.parent.artifactId}.apiero.apikey</property>
        <defaultValue></defaultValue>
        <description>Apiero API Key</description>
    </globalProperty>

    <globalProperty>
        <property>${project.parent.artifactId}.hiestaging.custom.encodedpass</property>
        <defaultValue>dXNlcjpzZXRtZQ==</defaultValue>
        <description>Base64 Encoded  ( Username + : + password) for custom coverage hie staging token generation
        </description>
    </globalProperty>

    <globalProperty>
        <property>${project.parent.artifactId}.hiestaging.auth.url</property>
        <defaultValue>https://apistg.safaricom.co.ke/oauth2/v1/generate?grant_type=client_credentials</defaultValue>
        <description>HIE url for generating staging bearer token</description>
    </globalProperty>

    <globalProperty>
        <property>${project.parent.artifactId}.base.resource.url</property>
        <defaultValue>https://uat-mis.apeiro-digital.com/fhir</defaultValue>
        <description>Base URL to be used in the final claim payload references</description>
    </globalProperty>

    <globalProperty>
        <property>${project.parent.artifactId}.claims.automation.enabled</property>
        <defaultValue>false</defaultValue>
        <description>Whether to send a claim automatically upon checkout or not (true or false)</description>
    </globalProperty>

    <globalProperty>
        <property>${project.parent.artifactId}.debugmode.enabled</property>
        <defaultValue>false</defaultValue>
        <description>Is the insurance claims debug mode enabled? true or false</description>
    </globalProperty>

    <globalProperty>
        <property>${project.parent.artifactId}.attachments.url</property>
        <defaultValue>https://ilm-dev.dha.go.ke/fs/fs/api/v1/media/upload</defaultValue>
        <description>The URL for claims file attachments</description>
    </globalProperty>

    <globalProperty>
        <property>${project.parent.artifactId}.attachments.username</property>
        <defaultValue>test</defaultValue>
        <description>The USERNAME for claims file attachments</description>
    </globalProperty>

    <globalProperty>
        <property>${project.parent.artifactId}.attachments.password</property>
        <defaultValue>test</defaultValue>
        <description>The PASSWORD for claims file attachments</description>
    </globalProperty>
    <globalProperty>
        <property>${project.parent.artifactId}.coverage.http.method</property>
        <defaultValue>GET</defaultValue>
        <description>HTTP method for external eligibility check API: GET or POST (default: GET)</description>
    </globalProperty>
</module>
